<li class='{{this.activeClass}} rounded-2xl px-4 border-1 border-gray-300 mb-4'>
  <button
    type='button'
    class='flex justify-between gap-x-6 py-5 cursor-pointer w-full'
    {{on 'click' this.toggle}}
  >
    <div class='flex min-w-0 gap-x-4'>
      <div class='min-w-0 flex-auto'>
        <p
          class='text-sm/6 font-semibold text-gray-900 text-left'
        >{{@repo.name}}</p>
        {{#if @repo.mostPopularLanguage}}
          <p class='mt-1 truncate text-xs/5 text-gray-500 text-left'>Most
            popular language:
            <b>{{@repo.mostPopularLanguage}}</b>
          </p>
        {{/if}}
      </div>
    </div>

    <div class='gap-y-2 hidden shrink-0 sm:flex sm:flex-col sm:items-end'>
      {{#if @repo.isPrivate}}
        <p class='text-sm/6 font-semibold text-gray-900'>
          <span
            class='inline-block bg-red-500 text-white text-xs px-2 py-1 rounded'
          >
            Private
          </span>
        </p>
      {{/if}}
      {{#if @repo.branches.length}}
        <p
          class='flex text-sm/6 text-gray-900 [&>svg]:w-6 [&>svg]:h-6 [&>svg]:ml-2'
        ><Icons::Branch />
          <span
            class='inline-block bg-sky-500 text-white text-xs px-2 py-1 rounded-full'
          >
            {{@repo.branches.length}}
          </span>
        </p>
      {{/if}}
    </div>

  </button>
  {{#if this.isExpanded}}
    <div>
      <div class='mt-6 border-t border-gray-100'>
        <dl class='divide-y divide-gray-100'>
          <div>
            <a
              href={{@repo.htmlUrl}}
              target='_blank'
              rel='noopener noreferrer'
              class='text-sky-600'
            >{{@repo.htmlUrl}}</a>
          </div>
          <div class='px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0'>
            <dt class='text-sm/6 font-medium text-gray-900'>Branches</dt>
            <dd class='mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0'>
              <ul>
                {{#each @repo.branches as |branch|}}
                  <li>{{branch}}</li>
                {{/each}}
              </ul>
            </dd>
          </div>
          {{#if @repo.languagesArray.length}}
            <div class='px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0'>
              <dt class='text-sm/6 font-medium text-gray-900'>Languages</dt>
              <dd
                class='mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0'
              ><Repos::List::LanguageUsage
                  @languages={{@repo.languages}}
                /></dd>
            </div>
          {{/if}}
        </dl>
      </div>
    </div>
  {{/if}}
</li>